.headerContainer {
    height: 200px;
    max-width: 1124px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 2rem;
}

.logo {
    width: 4rem;
    height: 4rem;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}
