* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

@font-face {
  font-family: "Motiva Sans Light";
  src: url("/fonts/Motiva-Sans-Light.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Motiva Sans Bold";
  src: url("/fonts/Motiva-Sans-Bold.ttf") format("truetype");
  font-style: normal;
}


body,
button,
a,
span,
textarea {
  font-family: 'Motiva Sans Light', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}